@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;600;700;800&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-burgundy: #600018;
  --color-burgundy-hover: #4a0010;
  --color-burgundy-light: #7a1226;
  --color-deep-yellow: #D4AC0D;
  --color-deep-yellow-hover: #b18e0a;
  --color-deep-yellow-light: #e0b716;
}

